n8n-workflow-advanced.json
{
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tailor-resume-pro",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "prompt": "You are an expert resume writer. Tailor the following resume to perfectly match the provided job description. Structure the output in clean HTML format. Use h2 for sections, ul for lists, and strong tags to emphasize key skills and experiences relevant to the job. \n\n**Resume:**\n{{$json.body.resume}}\n\n**Job Description:**\n{{$json.body.jobDescription}}",
        "options": {}
      },
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "openAiApi": "YOUR_OPENAI_API_CREDENTIALS_IN_N8N"
      }
    },
    {
      "parameters": {
        "responseCode": 200,
        "data": "{\"tailoredResume\": \"{{$node.OpenAI.json.choices[0].message.content}}\"}",
        "options": {
          "responseHeaders": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}